@media all and (max-width: 1000px){
    .lesson{
        width: 50%;
        margin-bottom: 40px;
    }
    .lesson-wrapper{
        padding: 0;
    }
    .top-wrapper{
        background-position: right;
    }
    .top-wrapper h1{
        font-size: 32px;
    }
}

@media all and (max-width: 670px){
    .header-mid{
        display: none;
    }
    .lesson{
        width: 100%;
        margin-bottom: 100px;
    }
    .btn{
        width: 100%;
    }
    .facebook{
        margin-bottom: 10px;
    }
    .top-wrapper{
        text-align: left;
        /* background-size: cover; */
        /* background-position: 0 -130px; */
        background-position: left;
    }
    .top-wrapper h1{
        font-size: 24px;
        line-height: 36px;
    }
    .top-wrapper p{
        font-size: 14px;
        line-height: 20px;
    }
    .btn-wrapper p{
        text-align: center;
    }
    .lesson-wrapper{
        padding: 0px;
    }
    .heading h2{
        font-size: 20px;
    }
    footer{
        text-align: center;
    }
}