@media all and (max-width: 1000px){

}

@media all and (max-width: 670px){
    .header-mid{
        display: none;
    }
    .lesson{
        width: 100%;
        margin-bottom: 100px;
    }
    .btn{
        width: 100%;
    }
    .facebook{
        margin-bottom: 10px;
    }
    .top-wrapper{
        text-align: left;
        background-position: 50% -120px;
    }
    .top-wrapper h1{
        font-size: 24px;
        line-height: 36px;
    }
    .top-wrapper p{
        font-size: 14px;
        line-height: 20px;
    }
    .btn-wrapper p{
        text-align: center;
    }
}